h1 {
    font-size: 2rem;
}

div {
    font-size: 1rem;
}
body {
    width: 100%;
}
/* < */
@media (max-width: 992px) {
    .global-container {
        padding: 20px;
    }
    .navbar-logo{
        width: 110px;
    }
    /*.navbar{
        flex-wrap: nowrap;
    }*/
}
@media (max-width: 425px) {
    .global-container {
        padding: 5px;
    }
}

.trainer__container {
    min-width: 400px;
}

#trainer__calendar {
    height: auto;
    max-height: 80vh;
    min-height: 70vh;
    /*max-width: calc(100% - 20px);*/
    margin: 40px auto;
    text-transform: uppercase !important;
}

#reservationsTABLE td, /*#reservationsTABLE th,*/
#subscriptionsTABLE td /*, #subscriptionsTABLE th*/
{
    text-align: center;
    vertical-align: middle;
    padding: 4px;
}

.trainer__manage__present, .trainer__manage__absent {
    padding: 10px 0;

}

.trainer__manage__present > h1, .trainer__manage__absent > h1 {
    margin-bottom: -10px;
}