h1 {
    font-size: 2rem;
    font-weight: normal;
}

h3 {
    font-weight: bold;
}

div {
    font-size: 1rem;
}

body {
    width: 100%;
}

/* < */
@media (max-width: 992px) {
    .global-container {
        padding: 20px;
    }

    .navbar-logo {
        width: 110px;
    }

    /*.navbar{
        flex-wrap: nowrap;
    }*/
}

@media (max-width: 425px) {
    .global-container {
        padding: 5px;
    }
}

.trainer__container {
    min-width: 400px;
}

#trainer__calendar {
    height: auto;
    max-height: 80vh;
    min-height: 70vh;
    /*max-width: calc(100% - 20px);*/
    margin: 40px auto;
    text-transform: uppercase !important;
}

#reservationsTABLE th,
#subscriptionsTABLE th{
    border-top: 0;

    font-size: 16px;
    padding: 4px;
    padding-right: 16px;
}
#reservationsTABLE td, /*#reservationsTABLE th,*/
#subscriptionsTABLE td /*, #subscriptionsTABLE th*/
{
    /*text-align: center;*/
    vertical-align: middle;
    padding: 4px;
    font-size: 14px;
}

.trainer__manage__present, .trainer__manage__absent {
    padding: 10px 0;
}

.trainer__manage__present > h3, .trainer__manage__absent > h3 {
    margin-bottom: -15px;
}