div.centervert{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
div.contacts{
    padding: 20px;

}
span.contact{
    margin: 10px;
}
div.title{
    font-weight: bold;
    display: inline;
}