/* This is to make borders on top, bottom, left and rigth*/
.global-container {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    flex: 1;
}
/* This is used to make the footer stick to the bottom even if not enough content */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

