img.left{
    float: left;
    margin-right: 20px;
    object-fit: cover;
}
img.right{
    float: right;
    margin-left: 20px;
    object-fit: cover;
}

div.clearleft {
    position: relative;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 25px;
    width: auto;
    height: auto;
    background-color:#C0C0C0;
    margin-top: 20px;
    overflow:hidden;
    clear: right;
    transition: transform 250ms;
}
div.clearright {
    position: relative;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 25px;
    width: auto;
    height: auto;
    background-color: #C0C0C0;
    margin-top: 20px;
    overflow:hidden;
    clear: left;
    transition: transform 250ms;
}
div.description{
    padding: 0px 20px 0 20px;
}
h2.sub{
    padding: 20px 20px 0 20px;
}
div.clearright:hover {

    transform: scale(1.05);
}
div.clearleft:hover {

    transform: scale(1.05);
}

div.translatetopleft{
    position: absolute;
    text-align: center;
    bottom: -50px;
    right:0;
    width: 75%;
    height: 50px;
    background-color:#ff8484;
    transition: transform 250ms;
}
div.clearleft:hover>div.translatetopleft{
    transform: translateY(-50px);;
}
div.translatetopright{
    position: absolute;
    text-align: center;
    bottom: -50px;
    left:0;
    width: 75%;
    height: 50px;
    background-color:#ff8484;
    transition: transform 250ms;
}
div.clearright:hover>div.translatetopright{
    transform: translateY(-50px);;
}
a.secondarylink:link {
    color: rgb(33, 37, 41);
}
a.secondarylink:hover {
    color: rgb(33, 37, 41);
}
a.secondarylink:visited {
    color: rgb(31, 37, 41);
}
.discover{
    font-family: 'myFirstFont', sans-serif;
    font-size: 30px;
    font-weight: bold;
}