a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration: none;
}

/* TRAINER HOME */
.trainer__shift {
    margin-top: 66px;
}

.trainer__navbar {
    background-color: #eee !important;
    /*margin-bottom: 2px;*/
    /*height: 100vh;*/
}

.trainer__navbar__menu {
    min-height: 80vh;
}

.trainer__navbar__dropdown {
    background-color: transparent;
    border: 0;
}

@media (min-width: 768px) {
    .trainer__navbar__menu {
        min-height: auto;
    }

    .trainer__navbar__dropdown {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .15);
    }
}

.trainer__navbar__menu > li > a {
    /*color: #1ee2e7;*/
    text-transform: uppercase !important;
    font-size: large;
    font-weight: bold;
}

.trainer__container {
    min-width: 400px;
}

.breadcrumb {
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.breadcrumb-item.active {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background: #000;
    background-image: linear-gradient(to right, #fff, #000, #fff);
    opacity: 0.5;
    margin-top: 0;
}

#trainer__calendar {
    height: auto;
    max-width: calc(100% - 20px);
    margin: 40px auto;
    text-transform: uppercase !important;
}
