:root {
    --blue-dark: #08273B; /*nav, */
    --blue: #2E7DBA;
    --blue-light: #4390C3; /*links, active link*/

    --white: #fff; /*bg 1*/
    --gray: #F6F6F6; /*bg 2*/
    --gray-dark: #3A3A3A; /*title*/

    --primary: #33414f;
    --secondary: #fd0;

}


a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration: none;
}
/*
main {
    margin-top: 66px;
}*/

.navbar {
    min-height: 66px;
    background-color: var(--primary) !important;
}

.navbar__menu > li > a {
    color: white;
    text-transform: uppercase !important;
    font-size: large;
    font-weight: bold;
}

.navbar__menu > li > a .active, .navbar__menu > li > a:hover {
    color: var(--secondary);
}

.navbar__menu {
    min-height: 80vh;
}

.navbar__dropdown {
    background-color: transparent;
    color: white;
    border: 0;
}

.navbar__dropdown * {
    color: white;
}

@media (min-width: 992px) {
    .navbar__menu {
        min-height: auto;
    }

    .navbar__dropdown {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .15);
        color: black;
    }

    .navbar__dropdown * {
        color: black;
    }
}

.trainer__container {
    min-width: 400px;
}

.breadcrumb {
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.breadcrumb-item.active {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background: #000;
    background-image: linear-gradient(to right, #fff, #000, #fff);
    opacity: 0.5;
    margin-top: 0;
}

#trainer__calendar {
    height: auto;
    max-width: calc(100% - 20px);
    margin: 40px auto;
    text-transform: uppercase !important;
}

#reservationsTABLE td, /*#reservationsTABLE th,*/
#subscriptionsTABLE td /*, #subscriptionsTABLE th*/
{
    text-align: center;
    vertical-align: middle;
    padding: 4px;
}

.trainer__manage__present, .trainer__manage__absent {
    padding: 10px 0;

}

.trainer__manage__present > h1, .trainer__manage__absent > h1 {
    margin-bottom: -10px;
}