h1 {
    font-size: 2rem;
}

div {
    font-size: 1rem;
}

/* < */
@media (max-width: 992px) {
    .global-container {
        padding: 20px;
    }
    .navbar-logo{
        width: 110px;
    }
    /*.navbar{
        flex-wrap: nowrap;
    }*/
}

.carousel-main-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.carouselimg {
    object-fit: cover;
    height: 40vh;
}

.text-info {
    color: white !important;
}

.bg-info {
    background-color: white !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: transparent;
    border: none;
}