<?xml version="1.0" encoding="UTF-8"?>
<web-app id="GWA-Gym-webapp" version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">

    <display-name>GWA Project</display-name>
    <description>
        Group project developed by GWA group of the Web Applications 2021/22 course,
        for the Computer Engineering master degree of University of Padua.
    </description>

    <!-- Servlets listing -->
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <jsp-file>/jsp/home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <jsp-file>/jsp/staff.jsp</jsp-file>
    </servlet>

    <!-- Mapping between servlets and URIs -->
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/staff/*</url-pattern>
    </servlet-mapping>

    <!-- Listener called when the application is initialized -->
    <listener>
        <listener-class>jobs.InitListener</listener-class>
    </listener>

</web-app>